{% extends 'main.html' %} {% load static %}

{%block head%}
<link rel="stylesheet" href="{% static 'idea/css/idea_list.css' %}">
{%endblock%}

{%block content%}
<div class="content-wrapper">
  <div class="content_title">Idea List</div>
  <div class="content_info">나의 아이디어를 잊지말고 기록하세요!</div>
  <label for="sortSelect">Sort by:</label>
  <div class="sort">
    <form>
      <select name="sort" onchange="form.submit()" id="mySelect">
        <option>---------</option>
        <option value="title">이름순</option>
        <option value="pk">등록순</option>
        <option value="recent_date">최신순</option>
        <option value="interest">인기순</option>
      </select>
    </form>
  </div>
  <div class="item_box">    
  {%for idea in ideas%}  
    <div class="item">
      {%if idea.image.url != null and idea.image.url != ''%}
      <img src="{{idea.image.url}}" alt="로고" />
      {%else%}
      <img src="{% static 'idea/image/no_img.png' %}" alt="대체텍스트" />
      {%endif%}
      <div class="info">
        <a href="{%url 'idea:detail' idea.pk%}" class="idea_title"> {{ idea.title }} </a>
        <p class="devtool">예상 개발 툴 : {{idea.devtool.name}}</p>
        <p class="interest">
          아이디어 관심도 : 
          <input type="button" value="+" onclick="">
          <span id="interest_{{ idea.pk }}">{{ idea.interest }}</span>
          <input type="button" value="-" onclick="">
        </p>
      </div>
    </div>
  {%endfor%}
  </div>
</div>

{%endblock%}