.review_detail {
  width: 80%;
  margin: auto;
  padding: 20px;
}
.review_detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.review_detail_header::after {
  content: "";
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #808080;
}

.review_detail_header > h1 {
  font-weight: bold;
  font-size: 30px;
}
.detail_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #c4c4c4;
  margin-bottom: 20px;
}
.poster {
  height: 200px;
  width: 150px;
  margin: 20px;
  background-color: goldenrod;
}
.detail_box_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  background-color: #c4c4c4;
  padding: 20px;
  gap: 10px;
}

.detail_box span {
  font-weight: bold;
}

.detail_content {
  padding: 20px;
  background-color: #c4c4c4;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="submit"],
.modify > a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  display: flex;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
}

input[type="submit"]:hover,
.modify > a:hover {
  background-color: #45a049;
}
