{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?ver=220610" />
    <link
      rel="stylesheet"
      href="{% static 'css/review_header.css' %}?ver=220610"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/review_read.css' %}?ver=220610"
    />
    <title>영화 상세</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/reviews"><span>Piro</span> Movie</a>
      </h1>
      <h2><a href="/reviews/create"> + New Review </a></h2>
    </header>
    <section class="review_detail">
      <div class="review_detail_header">
        <h1>{{ review.title }}</h1>
        <div class="buttons">
          <div class="modify">
            <a href="/reviews/{{review.id}}/update"> 수정 </a>
          </div>
          <div class="remove">
            <form action="/reviews/{{review.id}}/delete" method="post">
              {% csrf_token %}
              <input type="submit" value="삭제" />
            </form>
          </div>
        </div>
      </div>
      <div class="detail_box">
        <div class="detail_box_left">
          <div class="poster">포스터</div>
        </div>
        <div class="detail_box_right">
          <h5><span>개봉년도 </span>{{ review.releasedate |slice:":4"}}년</h5>
          <h5><span>감독 </span>{{ review.director }}</h5>
          <h5><span>주연 </span>{{ review.actor }}</h5>
          <h5><span>장르 </span>{{ review.genre }}</h5>
          <h5><span>별점 </span>{{ review.grade }}</h5>
          <h5>
            <span>러닝타임 </span>{{ review.runningtimehour }}시간
            {{review.runningtimeminute }}분
          </h5>
        </div>
      </div>
      <div class="detail_content"><p>{{review.content}}</p></div>
    </section>
  </body>
</html>
